# Пользователь, пароль и имя базы PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#  Строка подключения к БД для сервера.
DATABASE_URL=
# Ключ для подписи токенов авторизации.
JWT_SECRET=
# Порт сервера NestJS (localhost:3000).
PORT=

# URL фронтенда для настроек CORS (localhost:5173)
CLIENT_BASE_URL=

# Базовый URL API для запросов с фронта.
VITE_API_BASE_URL=
# Ссылка на JSON-схему Swagger для Orval.
VITE_API_SCHEMA_URL=/swagger-json
